<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Appointment System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{{ url_for("index") }}">Appointment System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

        <!–– Defining visibility for user ––>

        {% if current_user.is_authenticated and current_user.get_role() == 'USER' %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">My appointments</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('appointments_reserve') }}">Reserve an appointment</a>
            <a class="dropdown-item" href="#">List my appointments</a>            
            <a class="dropdown-item" href="#">Cancel an appointment</a>                                  
          </div>
        </li>

        {% endif %} 

        <!–– Defining visibility for admin ––>

        {% if current_user.is_authenticated and current_user.get_role() == 'ADMIN' %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Appointments</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('appointments_form') }}">Add an appointment</a>
              <a class="dropdown-item" href="{{ url_for('appointments_index') }}">List all appointments</a>
              <a class="dropdown-item" href="{{ url_for('appointments_remove') }}">Remove an appointment</a>
              <a class="dropdown-item" href="{{ url_for('appointments_update') }}">Update an appointment</a>   
              <a class="dropdown-item" href="{{ url_for('appointments_index') }}">List all my appointments</a>                   
            </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Services</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('services_form') }}">Add a service</a>
            <a class="dropdown-item" href="{{ url_for('services_list') }}">List all services</a>
            <a class="dropdown-item" href="{{ url_for('services_remove') }}">Remove a service</a>
            <a class="dropdown-item" href="{{ url_for('services_update') }}">Update a service</a>                   
          </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Statistics</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('admin_statistics') }}">List all users without reservation</a>    
            </div>
          </li>
        
        {% endif %} 

        </ul>        

        <div class="form-inline mt-2 mt-md-0">

    {% if current_user.is_authenticated %}
    
    <font color="white">Logged in as: {{ current_user.name }} &nbsp; <a href="{{ url_for('auth_logout') }}"> Log out</a></font>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Login</a>&nbsp;&nbsp;<a href="{{ url_for('signup_new') }}"> Sign up</a>
    {% endif %}
        </div>
    </nav>

    <main role="main" class="container">    
    {% block body %}

    <p>
  Content.
    </p>
    {% endblock %}
  </body>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
  </html>