{% extends "layout.html" %}

{% block body %}
{{ error }}

<h3>Update a service</h3>
<p>Please update a service of choice by clicking "Update".</p>

  <table class="table table-sm table-hover">
    <tr>
      <th>Service</th>
      <th>Price</th>
      <th>Update</th>  
    </tr>

    {% for service in services %}
    <tr></tr>
      <td>{{ service.service }}</td>
      <td>{{ service.price}}</td>   
      
            <form method="POST" action="{{ url_for('services_update_by_id', service_id=service.id) }}">
              <td><input type="submit" value="Update"/></td>                            
            </form>                        
          </tr>
          {% endfor %}
        </table>    

{% endblock %}