{% extends "layout.html" %}

{% block body %}

  <h3>Cancel an appointment</h3>
  <p>Please cancel a chosen appointment time from the list below by clicking "Cancel".</p>

  <table class="table table-sm table-hover">
    
    <tr>
      <th>Appointment</th>
      <th>Employee</th>
      <th>Service</th>
      <th>Price</th>
      <th>Cancel</th>
    </tr>

    {% for reservation in appointments %}
    <tr>
      <td>{{ reservation.start_time }}</td>

      {% if reservation.accountappointment[0].employee == True %}          
        <td>{{ reservation.accountappointment[0].name}}</td>
      {% else %}
        <td>{{ reservation.accountappointment[1].name}}</td>
      {% endif %}

      {% if reservation.services[0] is defined %}
        <td>{{ reservation.services[0].service }}</td>
        <td>{{ reservation.services[0].price }}</td>  
      {% else %}     
        <td>-</td>
        <td>-</td>
      {% endif %}
       
      <td>
        <form method="POST" action="{{ url_for('appointment_set_cancel', appointment_id=reservation.id) }}">
            <input type="submit" value="Cancel"/>
        </form>
    </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}