{% extends "layout.html" %}

{% block body %}

    <h3>Listing all appointments</h3>
    <p>Appointments are sorted by appointment time in ascending order.</p>

    <table class="table">
      <tr>
        <th>Appointment time</th>
        <th>Employee</th>
        <th>Reserved</th>        
        <th>User</th>
        <th>Service</th>
        <th>Price</th>
      </tr>
      {% for appointment in appointments %}
      <tr>
        <td>{{ appointment.start_time }}</td>  
        <td>{{ appointment.accountappointment[0].name }}</td>
        <td>{{ appointment.reserved }} </td>

        {% if appointment.accountappointment[1] is defined %}
        <td>{{ appointment.accountappointment[1].name }}</td>
        {% else %}
        <td>-</td>
        {% endif %}

        {% if (appointment.reserved == True) and (appointment.services[0] is defined) %}
          <td>{{ appointment.services[0].service }}</td>        
          <td>{{ appointment.services[0].price }}</td> 
          {% else %}
          <td>-</td>
          <td>-</td> 
        {% endif %}

      </tr>
      {% endfor %}
    </table>  
    
{% endblock %}