{% extends "layout.html" %}

{% block body %}

    <table class="table">
      <tr>
        <th>Appointment</th>
        <th>Employee</th>
        <th>Reserved</th>
        <th></th>
      </tr>
      {% for appointment in appointments %}
      <tr>
        <td>{{ appointment.start_time }}</td>  
        <td>{{ appointment.employee }}</td>

        {% if appointment.reserved == 1 %}
        <td>True</td> 
        {% elif appointment.reserved == 0 %}
        <td>False</td> 
        {% endif %}

      </tr>
      {% endfor %}
    </table>  
    
{% endblock %}