{% extends "layout.html" %}

{% block body %}

    <h3>Listing my appointments</h3>

    <table class="table">
        <tr>
          <th>Start time</th>
          <th>Employee</th>
          <th>User</th>
          <th>Service</th>
          <th>Price</th>
          <th>Reserved</th>
        </tr>
        {% for reservation in appointments %}
        <tr>
          <td>{{ reservation.start_time }}</td>
          <td>{{ reservation.accountappointment[0].username}}</td>
            {% if reservation.accountappointment[1] is defined %}
              <td>{{ reservation.accountappointment[1].username }}</td>
            {% else %}
              <td>-</td>
            {% endif %}
            {% if reservation.services[0] is defined %}
              <td>{{ reservation.services[0].service }}</td>
              <td>{{ reservation.services[0].price }}</td>  
            {% else %}     
              <td>-</td>
              <td>-</td>
            {% endif %}
            <td>{{ reservation.reserved }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}