
{% extends "layout.html" %}

{% block body %}

<h3>Add a new appointment</h3>
<p></p>
<p>Please select an appropriate date and time and click "Add a new appointment".</p>

<form method="POST" action="{{ url_for('appointments_create') }}">
  <table class="table">
    <tr>
  <td>
    {{ form.time.label }}
  </td>
  <td>
    {{ form.time }}
  </td>
  <ul>
      {% for error in form.time.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>  
    </tr>
    <tr>
  <td colspan="2">
    <input type="submit" value="Add a new appointment"/>
  </td>
    </tr>
</form>
{% endblock %}