{% extends "layout.html" %}

{% block body %}

<h3>Remove an appointment</h3>
<p></p>
<p>Please remove appointment of choice by clicking "Remove".</p>
<p></p>

  <table class="table table-sm table-hover">
    <tr>
      <th>Appointment</th>
      <th>Employee</th>
      <th>Reserved</th>
      <th></th>
    </tr>
    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.start_time }}</td>  
        <td>{{ appointment.employee }}</td>

        {% if appointment.reserved == 1 %}
        <td>True</td> 
        {% elif appointment.reserved == 0 %}
        <td>False</td> 
        {% endif %}
      <td> 
  <form method="POST" action="{{ url_for('appointments_delete', appointment_id=appointment.id) }}">
    <input type="submit" value="Remove"/>
  </form>      
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}