{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Appointment</th>
      <th>Employee</th>
      <th>Reserved</th>
      <th></th>
    </tr>
    {% for appointment in appointments %}
    <tr>
      <td>{{ appointment.start_time }}</td>
      <td>{{ appointment.account_id}}</td>   
      <td>{{ appointment.reserved }}</td>
      <td> 
  <form method="POST" action="{{ url_for('appointments_delete', appointment_id=appointment.id) }}">
    <input type="submit" value="Remove"/>
  </form>      
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}