{% extends "layout.html" %}

{% block body %}

<h3>Remove an appointment</h3>
<p>Please remove an appointment of choice by clicking "Remove".</p>
<p>Note that you can only remove an appointment that is assigned to you.</p>
<p>If the list is empty, you don't currently have any appointments.</p>

  <table class="table table-sm table-hover">
    <tr>
      <th>Appointment time</th>
      <th>Reserved</th>
      <th>Employee</th>
      <th>User</th>      
      <th>Service</th>
      <th>Price</th>
      <th>Remove</th>
    </tr>
    
    {% for appointment in appointments %}
    <tr>
      <td>{{ appointment.start_time }}</td>
      <td>{{ appointment.reserved }}</td>

      {% if appointment.accountappointment[0].employee == True %}          
        <td>{{ appointment.accountappointment[0].name}}</td>
      {% else %}
        <td>{{ appointment.accountappointment[1].name}}</td>
      {% endif %}          
      
      {% if (appointment.accountappointment[1] is defined) and (appointment.accountappointment[1].employee == False) %} 
        <td>{{ appointment.accountappointment[1].name }}</td>  
      {% endif %} 
      
      {% if appointment.accountappointment[1] is not defined %}
        <td>-</td>
      {% endif %}

      {% if appointment.services[0] is defined %}
        <td>{{ appointment.services[0].service }}</td>
        <td>{{ appointment.services[0].price }}</td>  
      {% else %}     
        <td>-</td>
        <td>-</td>
      {% endif %}
      
      <td> 
  <form method="POST" action="{{ url_for('appointments_delete', appointment_id=appointment.id) }}">
    <input type="submit" value="Remove"/>
  </form>      
      </td>
    </tr>   
  {% endfor %}
  </table>

{% endblock %}