{% extends "layout.html" %}
 
{% block body %}
{{ error }}
 
<h3>Update an appointment</h3>

<h5>Instructions:</h5>
<li>You can reassign a different employee to an appointment. Please note that the rights to update and remove will move to the corresponding employee.</li> 
<li>If the appointment is not set as reserved <input type="checkbox" checked> the update about customer and service will not be registered.</li>
 
  <table class="table table-sm">
    <tr>
      <th>Appointment</th>
      <th>Employee</th>
      <th>User</th>
      <th>Service</th>
      <th>Reserved</th>      
    </tr>
    <tr>
      <td>{{ appointment.start_time }}</td>

      {% if appointment.accountappointment[0].employee == True %}          
        <td>{{ appointment.accountappointment[0].name}}</td>
      {% else %}
        <td>{{ appointment.accountappointment[1].name}}</td>
      {% endif %}          
      
      {% if (appointment.accountappointment[1] is defined) and (appointment.accountappointment[1].employee == False) %} 
        <td>{{ appointment.accountappointment[1].name }}</td>  
      {% endif %} 

      {% if (appointment.accountappointment[1] is defined) and (appointment.accountappointment[1].employee == True) %} 
        <td>{{ appointment.accountappointment[1].name }}</td>  
      {% endif %} 
      
      {% if appointment.accountappointment[1] is not defined %}
        <td>-</td>
      {% endif %}

      {% if appointment.services[0] is defined %}
        <td>{{ appointment.services[0].service }}</td>
      {% else %}     
        <td>-</td>
      {% endif %}

      <td>{{ appointment.reserved }}</td>

        <tr>
            <th>Update appointment time</th>
            <th>Update employee</th>
            <th>Update user</th>
            <th>Update service</th>
            <th>Update reserved</th>
        </tr>
        <tr>
            <form method="POST" action="{{ url_for('appointments_updates', appointment_id=appointment.id) }}">          
              <td>{{ form.start_time }}</td>
              <ul>
                  {% for error in form.start_time.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul> 
 
              <td>{{ form.employees }}</td>
              <ul>
                  {% for error in form.employees.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>  
 
              <td>{{ form.users }} </td>
              <ul>
                  {% for error in form.users.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>  

              <td>{{ form.services }} </td>
              <ul>
                  {% for error in form.services.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>  
 
              <td>{{ form.reserved }}</td>   
              
              <td><input type="submit" value="Update"/></td>  
                                     
            </form>      
                
              </tr>
            </table>   
          
          <p>Please update the appointment by clicking "Update".</p>               
 
{% endblock %}