{% extends "layout.html" %}

{% block body %}

<h3>Update an appointment</h3>
<p>Please update appointment of choice by clicking "Update".</p>

  <table class="table table-sm table-hover">
    <tr>
      <th>Appointment</th>
      <th>Employee</th>
      <th>Reserved</th>
      <th>User</th>      
      <th>Service</th>
      <th>Price</th>
      <th>Update</th>
    </tr>
    
    {% for appointment in appointments %}
    {% if appointment.accountappointment[0].id == current_user.id %}
    <tr>
      <td>{{ appointment.start_time }}</td>  
      <td>{{ appointment.accountappointment[0].name }}</td>
      <td>{{ appointment.reserved }} </td>

      {% if appointment.accountappointment[1] is defined %}
      <td>{{ appointment.accountappointment[1].name }}</td>
      {% else %}
      <td>-</td>
      {% endif %}

      {% if (appointment.reserved == True) and (appointment.services[0] is defined) %}
        <td>{{ appointment.services[0].service }}</td>
        <td>{{ appointment.services[0].price }}</td>        
        {% else %}
        <td>-</td>
        <td>-</td>
      {% endif %}
      
      <td> 
  <form method="POST" action="{{ url_for('appointments_update', appointment_id=appointment.id) }}">
    <input type="submit" value="Update"/>
  </form>      
      </td>
    </tr>
  {% endif %}
  {% endfor %}  
  </table>

{% endblock %}
